
<tr bgcolor= "<%= cycle('white', '#f2f2f2') %>">
  <td><%= link_to truncate(gist.question.body,length: 25), [:admin, gist.question] %></td>
  <td><%= link_to strip_hash(gist.url), gist.url %></td>
  <td><%= gist.user.email %></td>
</tr>