<li>
  <%= answer.body %>
  <%= link_to 'Show',  admin_answer_path(answer) %>
  <%= link_to 'Destroy',  [:admin, answer],  method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= link_to 'Edit',  edit_admin_answer_path(answer) %>
</li>