<h1>Tests</h1>
<table>
<% @tests.each do|test| %>
  <tr bgcolor= "<%= cycle('grey', 'white') %>">
    <td>
      <dl>
        <dt><%= link_to "#{test.title}", test %></dt>
     </dl>
    </td>
  </tr>
<% end %>
</table>