<h1> Title </h1>
<%= @test.title %>
<p><%= link_to "New Question", "#{params[:id]}/questions/new" %>
<p><%= link_to "Back to Tests", tests_path %>
<p><h2>Questions</h2>
<table>
  <tr>
    <th>Body</th>
    <th colspan="2">Actions</th>
  

  <%= render @test.questions %>
  </tr>
</table>