<div class="navbar navbar-fixed-bottom">
  <footer class="footer">
    <small>
      <%= current_year %> Alexandr Kolesenko, 
      <%= github_url('aik-stok', 'testguru') %>
      <p><%= link_to "Учебный проект в онлайн-школе Thinknetica", 'http://thinknetica.com', target: :_blank %>
      <p><%= link_to "Contact", contact_path %>
    </small>
  </footer>
</div>